.jumbotron {
  height: auto !important;
}

body {
  background-color: #232323;
}

.header {
  margin-top: 100px;
  text-align: right;
  height: 330px;
  background-color: #ddd;
}

@media only screen and (max-width: 768px) {
  .header {
    margin-top: 280px;
    text-align: right !important;
    height: 330px;
  }
}

.header img {
  width: 24%;
  border-radius: 90%;
  float: left;
}

.header h2 {
  font-size: 400%;
}

.header p.title {
  font-size: 180%;
}

.header p {
  font-size: 120%;
}

table {
  border: 1px dashed black;
}

td {
  padding: 2px;
  border: 1px solid #e88741;
}
